# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.env.*

# Virtual environments
.venv/
venv/
env/

# Cache
cache/
*.npy
*.index

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
